$images: (
  '../imgs/1.jpg',
  '../imgs/2.jpg',
  '../imgs/3.jpg',
  '../imgs/4.jpg',
  '../imgs/5.jpg',
);
$random-index: random(length($images));
$random-image: nth($images, $random-index);

.VPContent {
  &.is-home {
    background: url($random-image) no-repeat;
    background-size: 100% 100%;
  }
}
